/*css style reset*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,th,td,img,div,dl,dt,dd,input,a{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
}
img{
	border:none;
}
ul,li{
	list-style-type:none;
}
input,select,textarea{
	outline:none;
	border:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
	color:#333;
}
/*清浮动*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix{
	zoom:1;
}
/*左右浮动*/
.fl{
	float:left;
}
.fr{
	float:right;
}
/*隐藏显示类*/
.hide{
	display:none;
}
.show{
	display: block;
}